{{!-- PROFILE --}}
<div class="profile-background" id="profile-background">
    <div class="profile-container" id="profile-container">
        <div class="profile">
            <img src="../img/{{user.avatar}}">
            <h1>{{user.name}}</h1>
            <hr/>
            <div class="profile-info">
                <h3>Email: {{user.email}}</h3>
                <h3>Tel: {{user.phone}}</h3>
                <h3>Dirección: {{user.adress}}</h3>
                <h3>Edad: {{user.age}} años</h3>
            </div>
            <hr class="hr-bottom">
            <a class="btn-logout" id="btn-logout">Cerrar sesión</a>
        </div>
    </div>
</div>
